@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: shake infinite 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes shake {

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

body {
  box-sizing: border-box;

  /* font-family: Indie Flower , cursive; */
  font-family: Varela Round , sans-serif;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

.login-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 30%;
}

.input-title {
  margin: 0 0 5px;
  text-align: left;
}

.login-input {
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
}

.login-button {
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-family: Varela Round , sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 15px;
  width: 100%;
}

.player-header {
  align-items: center;
  background-color: rgb(47, 80, 168);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  height: 50px;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 0 10px 0 0;
  width: 100%;
}

.trivia-container {
  padding: 10px;
  width: 40%;
}

.profile-picture {
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.question-category {
  background-color: rgb(207, 207, 207);
  border-radius: 3px 3px 0 0;
  color: black;
  margin: 0;
  padding: 10px;
}

.trivia-question {
  display: flex;
  width: 100%;
}

.question-text {
  background-color: rgba(255, 255, 255, 0.096);
  border-radius: 0 0 5px 5px;
  box-sizing: border-box;
  height: 72.5%;
  margin: 0;
  padding: 20px;
}

.answer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8px;
  width: 100%;
}

.trivia-question button {
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-family: Varela Round , sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0 0 7px;
  padding: 7px;
}

.correct-answer, .wrong-answer {
  background-color: rgb(83, 207, 0);
  border-radius: 8px;
  color: black;
  font-family: Varela Round , sans-serif;
  font-size: 15px;
  font-weight: 700;
  padding: 7px;
}

.correct-answer {
  background-color: rgb(83, 207, 0);
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  background-color: rgb(223, 49, 49);
  border: 3px solid red;
}

.button-next {
  border-radius: 5px;
  cursor: pointer;
  font-family: Varela Round , sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  padding: 10px;
  width: 200px;
}

.feedback-page {
  background-color: #181a1f5e;
  border-radius: 5px;
  margin: 30px;
  width: 40%;
}

.feedback-page button {
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-family: Varela Round , sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 7px;
  padding: 7px;
  width: 40%;
}

.ranking-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.ranking-container button {
  border-radius: 8px;
  color: black;
  cursor: pointer;
  font-family: Varela Round , sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 7px;
  padding: 7px;
  width: 40%;
}

.player-ranking {
  background-color: #181a1f5e;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  line-height: 35px;
  margin: 7px;
  padding: 7px;
  width: 40%;
}
